@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "nav.css";
@import "bookoftheday.css";
@import "topadventure.css";
body {
  font-family: "Open Sans", sans-serif;
  padding: 100px 0px;
  height: 200vh;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.02);
}

header {
  font-size: 50px;
  margin: 30px;
  text-decoration: none;
  font-weight: 600;
}

.star {
  color: rgb(252, 192, 26);
  margin: 5px;
}

.emptystar {
  margin: 5px;
}

.paragraph {
  font-size: 25px;
  width: 610px;
  color: rgba(0, 0, 0, 0.45);
  line-height: 115%;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.75);
  margin: 10px 0px 15px 0px;
}

.book-cover {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.05);
}

.score {
  margin-top: 20px;
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.Popular-authors__frame {
  display: flex;
  align-items: center;
}

.Popular-authors {
  position: relative;
  top: 250px;
}
.Popular-authors__author {
  width: 300px;
  height: 300px;
  margin: 20px 40px;
  border-radius: 10px;
}
